html,body, input, p, label{
  font-family: 'ZCOOL XiaoWei', serif !important;
} 

.container {
  padding: 0 0 0 20vh;
}
.top-nav {
 border: 1px solid white;
 width: 700px;
}
.title p{
  float: left;
  font-size: 50px;
}
.search {
  margin-top: 60px;
  margin-left: 50px;
  float: left;
}
.search input{
   height: 60px;
   width: 400px;
   font-size: 20px;
   border-radius: 10px; 
   outline: none;
   padding: 0 0 0 10px;
}

.output{
  width: 420px;
  height: 500px;
  margin-top: 150px;
  margin-left: 230px;
  scroll-behavior: smooth;
  overflow: scroll;
}
.output table{
  width: 100%;
}
.dataHeader{
  font-weight: bold;
  font-size: 20px
}

.green{
  color: green;
}
.red{
  color: red;
}
table {
  border-collapse: collapse;
}

td {
  border: none;
}
.tr{
  margin: 0;
  border: none;
  height: 30px;
  cursor: pointer;
}
.trhover :hover{
  background: rgb(236, 236, 236);
}
.hide{
  display: none;
}
.cityInfo{
  padding: 20px;
  width: 380px;
  height: 300px;
  margin-top: 150px;
  margin-left: 230px;
  box-shadow:0px 0px 6px gray;
  -moz-box-shadow:0px 0px 6px gray;
  border-radius: 10px;
}
.cityInfo p{
  font-size: 30px;
  color: green;
}
.cityInfo div{
  margin: 10px;
}
.cityInfo label{
  font-size: 20px;
  margin-left: 15px;
}
.prop{
  color: rgba(18, 75, 46, 0.712);
  font-weight: bold;
}

.propvalue{
  font-weight: bold;
}