html,body, input, p, label{
  font-family: 'ZCOOL XiaoWei', serif !important;
} 

.container {
  padding: 0 0 0 20vh;
}
.top-nav {
 border: 1px solid white;
 width: 700px;
}
.title p{
  float: left;
  font-size: 50px;
}
.search {
  margin-top: 60px;
  margin-left: 50px;
  float: left;
}
.search input{
   height: 60px;
   width: 400px;
   font-size: 20px;
   border-radius: 10px; 
   outline: none;
   padding: 0 0 0 10px;
}

.output{
  width: 420px;
  height: 500px;
  margin-top: 150px;
  margin-left: 230px;
  scroll-behavior: smooth;
  overflow: scroll;
}
.output table{
  width: 100%;
}
.dataHeader{
  font-weight: bold;
  font-size: 20px
}

.green{
  color: green;
}
.red{
  color: red;
}
table {
  border-collapse: collapse;
}

td {
  border: none;
}
.tr{
  margin: 0;
  border: none;
  height: 30px;
  cursor: pointer;
}
